html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  width: 30%;
  height: 50px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-around;
}
